.map {
  height: 500px;
  background-color: #2e2e2e;
  padding: 4px;
  border-radius: 20px;
  border: 5px solid aqua !important;
  margin-top: 16px;
  margin-bottom: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  height: 100%;
  border-radius: 10px;
}

.infoflag img {
  width: 100px;
  border-radius: 5px;
}

.infoflag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.infocontainer {
  width: 150px;
}

.infoname {
  margin-top: 5px;
  font-weight: bold;
  font-size: 20px;
  color: #555;
}

.infoconfirmed,
.inforecovered,
.infodeaths {
  font-size: 16 px;
  margin-top: 5px;
}
